/* Ensure the body takes full height */
body, html {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    min-height: 100vh; /* Minimum height of the page */
    display: flex;
    flex-direction: column;
  }
  
  /* Main content should take up all available space */
  .main-content {
    flex: 1;
  }
  
  /* Footer Styling */
  footer {
    margin-top: auto; /* Push footer to the bottom */
  }
  